h1{
    text-align: center;
    text-shadow: 2px 2px 2px #a8dadc;
    color: #e63046;
}
div.contenedor{
    display: flex;
    background-color: #560bad;
    flex-direction: row; /*Se ponen uno arriba del otro y ocupan todo el espacio, con reverse se muentras alrevez los elementos*/
    flex-wrap: wrap; /*Hace responsivo los elementos*/
    flex-flow: row wrap; /*Aplicar los elementos de arriba pero en una misma linea*/
    justify-content: center; /*Acomodar elemento flex-start es el de defecto, center los centra, space-between se ubica en cada uno de los
    elementos en los extremos, space-around deja espacio en los extremos, space-evenly deja espacio entre los elementos*/
    height: 300px;
    align-items: center; /*ajusta los elementos que se distorcionaron por el tamaño*/
    align-content: flex-start; /*Alinea los elementos en forma vertical*/
}

div.contenedor > p{
    background-color: #4895ef;
    color: #f1faee;
    margin: 20px;
    padding: 15px;
    font-size: 1.5em;
}